In [1]:
# Sales of products in four different regions is tabulated for males and females.
# Find if male-female buyer rations are similar across regions.

#### We will conduct a chi-square test as the data is categorical
#### Null Hypothesis: There is no association between the region and gender of buyers
#### Alternative Hypothesis: There is association between the region and gender of buyers

In [2]:
import scipy.stats as stat
import pandas as pd

In [3]:
br = pd.read_csv(r'C:\Users\Simran Kaur\Downloads\BuyerRatio.csv')

In [4]:
br

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [9]:
br_table = br.iloc[:, 1:6]

In [10]:
br_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [8]:
stat.chi2_contingency(br_table)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

#### Since, p-value is more than significance level, Failed to reject Null Hypothesis
#### So, there is no association between the region and the gender of buyer