In [1]:
# TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order 
# forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check 
# whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw 
# appropriate inferences

#### We will conduct chi-square test
#### Null Hypothesis: There is no relation between the centre and the occurence of defective order forms
#### Alternative Hypothesis: There is relation between the centre and the occurence of defective order forms

In [2]:
import scipy.stats as stat
import pandas as pd

In [4]:
cof = pd.read_csv(r'C:\Users\Simran Kaur\Downloads\Costomer+OrderForm.csv')

In [5]:
cof

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [101]:
table = pd.crosstab(index = [cof['Phillippines'].value_counts(), cof['Indonesia'].value_counts(), 
                     cof['Malta'].value_counts(), cof['India'].value_counts()], columns=cof['Phillippines'].unique())

In [102]:
table

col_0                               Defective  Error Free
Phillippines Indonesia Malta India
29           33        31    20             1           0
271          267       269   280            0           1

In [104]:
stat.chi2_contingency(table.iloc[:,0:4])

Chi2ContingencyResult(statistic=0.0, pvalue=1.0, dof=1, expected_freq=array([[0.5, 0.5],
       [0.5, 0.5]]))

#### Since p-value is more than significance leve, fail to reject null hypothesis
#### Hence, there is no relation between center and occurence of defective order.